.App {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.loader {
	text-align: center;
	color: #dbdbdb;
}

.TopBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 40px;
}

.TopBar > .title {
	color: #686868;
}

.create-task-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.create-task-container > .priority-level {
	margin: 0 10px;
}

.create-task-container > .priority-level > select {
	height: 30px;
	border: 2px solid #161c50;
	border-radius: 4px;
}

.create-task-container > .create-task-button {
	font-size: 16px;
	font-weight: 400;
	padding: 7px 15px;
	background-color: #161c50;
	color: #ffffff;
	border: 0;
	border-radius: 4px;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 4vh 3vw;
}

.card-container > .no-data-container {
	text-align: center;
	width: 94vw;
	margin-top: 20%;
}

.card-container > .task-card {
	min-width: 400px;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 4px 4px 12px #dfe1f1, -4px -4px 12px #e4e6f7;
}

.card-container > .task-card > .task-id-container,
.task-status-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-container > .task-card > .task-id-container > .task-id,
.task-status {
	color: #4d4c4c;
	font-size: 14px;
	font-weight: bold;
}

.card-container > .task-card > .task-id-container > .task-id-p,
.task-status-p {
	color: #726b6b;
	font-size: 14px;
	font-weight: bold;
}

.card-container > .task-card > .btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}

.card-container > .task-card > .btn-container > .btn {
	font-size: 12px;
	font-weight: 400;
	padding: 7px 15px;
	border: 0;
	border-radius: 4px;
	width: 120px;
}

.Queue {
	color: #045e04;
}

.Abort {
	color: #8a0101;
}

.Run {
	color: #f4a460;
}
